:root {
  --input-border-gradient-start: #6448fe;
  --input-border-gradient-end: #600594;
  --input-error: #ff5252;
  --white: #ffffff;
  --light-grayish-violet: #dedddf;
  --dark-grayish-violet: #8e8593;
  --very-dark-violet: #21092f;
}

body {
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#background-image {
  height: 100%;
}

.form-wrapper {
  margin-top: -9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  max-width: 25rem;
  margin: auto;
}

.success-message {
  color: var(--very-dark-violet);
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.success-message > h2 {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.success-message > p {
  color: var(--very-dark-violet);
}

.card-back,
.card-front {
  position: absolute;
  width: 27rem;
  height: 14rem;
  background-size: cover;
  border-radius: 0.625rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.25rem #000000;
  overflow: hidden;
}

.card-front {
  left: 14rem;
  top: 10rem;
  background-image: url('./images/bg-card-front.png');
}

.card-back {
  left: 20rem;
  top: 25rem;
  background-image: url('./images/bg-card-back.png');
}

.card-front > img {
  padding: 1.25rem;
  width: 3.75rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -0.625rem;
}

.card-name-surname {
  margin-left: 1.875rem;
}

.card-exp-date {
  margin-right: 1.875rem;
}

.card-numbers {
  text-align: center;
  letter-spacing: 0.325rem;
  font-size: 1.575rem;
}

.card-cvc {
  position: absolute;
  right: 3.125rem;
  top: 5.5rem;
}

input {
  border-radius: 0.325rem;
  border: 0.03em solid black;
  padding: 0.625rem;
  height: 1.25rem;
}

input:focus {
  -webkit-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 0.325rem;
  margin: 0.325rem 0.075rem 0.195rem 0;
  box-shadow: 0 0 0.325rem var(--input-border-gradient-start);
  border: 0.075rem solid var(--input-border-gradient-end);
}

#cvcErrorMsg,
#expDateErrorMsg,
#cvcErrorMsg {
  margin-top: 0.625rem;
}

small {
  display: none;
  color: var(--input-error);
  margin-top: -0.95rem;
  font-weight: bold;
  text-transform: lowercase;
}

input.fail {
  border: 1px solid var(--input-error);
}

#cardholderName,
#cardNumber {
  margin-top: -0.45rem;
  overflow: hidden;
}

#expMonth,
#expYear {
  width: 1.875rem;
  padding: 0.625rem;
}

.date-cvc-wrapper {
  display: flex;
  width: 100%;
}

.date-cvc-wrapper > div {
  padding: 0.625rem;
}

#cvc,
#expMonth,
#expYear {
  margin-top: 0.45rem;
}

button {
  height: 2.5rem;
  background-color: var(--very-dark-violet);
  color: var(--white);
  border: none;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  width: 100%;
  cursor: pointer;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  margin-left: 0.325rem;
  font-size: 0.75rem;
}

@media screen and (max-width: 1300px) {
  body {
    overflow: hidden;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-wrapper {
    margin-top: 5rem;
    margin-left: 0;
    text-align: center;
  }

  .card-front,
  .card-back {
    margin-bottom: 1.25rem;
    width: 21rem;
    height: 12rem;
    background-position: center;
  }

  .card-front {
    z-index: 1;
    left: 1.25rem;
    top: 1.25rem;
  }

  .card-back {
    left: 1.375rem;
    top: 9rem;
  }

  form {
    max-width: 100%;
  }

  #background-image {
    height: 18.75rem;
    width: 100%;
  }

  .card-wrapper {
    font-size: 0.825rem;
  }

  .card-numbers {
    font-size: 1.25rem;
  }
}
